
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(205, 255, 211);
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20vh 20vw;
    height: 100vh;
}

li{
    list-style-type: upper-roman;
    width: 40%;
    font-style: italic;
    font-weight: bolder;
}

::selection{
    background-color: darkorchid;
}

img#logoLiceu{
    width: 100px;
    position: absolute;
    top: 25px;
    left: 25px;
}

footer{
    position: absolute;
    text-align: right;
    bottom: 10px;
    left: 0;
    width: 95%;
}

a {
    text-decoration: none;
}