body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(205, 255, 211);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20vh 20vw;
    height: 100vh;
}

li{
    list-style-type: upper-roman;
    width: 40%;
}

::selection{
    background-color: darkorchid;
}

img#logoLiceu{
    width: 100px;
    position: absolute;
    top: 25px;
    left: 25px;
}

footer{
    position: absolute;
    text-align: right;
    bottom: 10px;
    left: 0;
    width: 95%;
}

a {
    text-decoration: none;
}