*{
    border: 1px solid black;
}

header h1 {
    color: orange;
}

p {
    color: #b42ab4;
    color: red; /* si dues regles entren en conflicte, s'agafa la darrera */
}

#prueba{
    font-size: xx-large;
    color: yellow;
    width: 40%;
    text-align: center;
    float: right;
    padding: 15px;
}

.importante {
    background-color: lightsalmon;
    text-decoration: underline;
    color: blueviolet;
}

h1.importante{
    width: 40%;
    padding: 15px;
    margin: 30px auto;
    text-align: center;
    float: left;
}

h1{
    background-color: aquamarine;
}

p.importante.pepito{
    font-style: oblique;
}

main{
    clear: both;
}

.centrado{
    margin: 0 auto;
    width: 50%;
}