header h1 {
    color: orange;
}

p {
    color: #b42ab4;
    color: red; /* si dues regles entren en conflicte, s'agafa la darrera */
}

#prueba{
    font-size: xx-large;
    color: yellow;
}

.importante {
    background-color: lightsalmon;
    text-decoration: underline;
    color: blueviolet;
}

h1{
    background-color: aquamarine;
}

p.importante.pepito{
    font-style: oblique;
}